*.glob
*.d
*.d.raw
*.vo
*.vok
*.vos
*.lia.cache
*.cm*
*.annot
*.spit
*.spot
*.o
*.a
*.log
*.aux
*.dvi
*.blg
*.bbl
*.idx
*.ilg
*.toc
*.atoc
*.comidx
*.comind
*.erridx
*.errind
*.haux
*.hcomind
*.herrind
*.hind
*.htacind
*.htoc
*.ind
*.lof
*.tacidx
*.tacind
*.v.tex
*.v.pdf
*.v.ps
*.v.html
*.stamp
*.native
*.nia.cache
*.lia.cache
