body {
  background-color:#fff;
  color:#000;
  font-family:verdana, arial;
  /* font-size:11px; */
}

.middle{
  width:70%;
  margin:auto;
}

.ressources:before{
  content:"Ressources";
  color:gray;
  float:right;
}

.ressources {
  border-left:dashed 1px gray;
  float:right;
  padding:2px;
  margin-left:50px;
  margin-bottom:5px;
  width:30%;
}

hr.clear {
  clear:both;
  visibility:hidden;
}

h1 {
  /* font-family:georgia, times; */
  text-align:center;
  /* font-variant: small-caps; */
}

h3 {
  /*font-family:times, georgia;*/
}

span.hid {
  color:#aaa;
}

.statement {
  background-color:#eef;
  /* border:1px solid #444477; */
  font-family:monospace;
  font-size:1.2em;
  padding:0.7em;
  margin:0.7em;
}

.comment {
  /*background-color:#eef;
  padding:10px;
  font-size:1.2em;
  border:1px solid #444477;*/
  font-family:verdana, arial, sans-serif;
}

.ref {
  font-size:0.6em;
  font-weight:normal;
  font-family:verdana, sans-serif;
}

a:link,a:visited{text-decoration:none;}
a:hover,a:active{text-decoration:underline;}
a   {color:#25c;}
/*.banane {color:yellow;}
#more {font-size:2em;position:absolute; top:2px; right:10px;}*/

div>p>.autohide {
visibility:hidden;
}
div:hover>p>.autohide {
visibility:visible;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h3{margin-top:2em;}
.others{display:none;}

@media print { h2 { color:#000088; }  .middle{ border-top:none; } }

@media (min-width:1070px)                      { .middle { padding-left:10px; padding-right:10px; } }
@media (min-width:545px) and (max-width:768px) { .middle { padding-left:11px; padding-right:11px; } }
@media (min-width:545px) and (max-width:990px) { .middle { padding-left:12px; padding-right:12px; } }
@media screen and (max-width:544px)            { .middle { padding-left:13px; padding-right:13px; } }
@media screen and (min-width:545px)            { .middle { padding-left:14px; padding-right:14px; } }
@media screen and (max-width:768px)            { .middle { padding-left:15px; padding-right:15px; } }
@media screen and (min-width:769px)            { .middle { padding-left:16px; padding-right:16px; } }
@media screen and (min-width:991px)            { .middle { padding-left:17px; padding-right:17px; } }
@media screen and (min-width:1201px)           { .middle { padding-left:18px; padding-right:18px; } }

@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none)
{ a:link, a:visited, a:hover, a:active { color: blue; text-decoration: underline; } }
